<div class="summary">
    <div class="title">World Report Summary</div>
    <div class="data-blocks-group">
        <div class="data-blocks">
            <div class="data-blocks-title">NewConfirmed</div>
            <div class="data-blocks-value">{{globalData.NewConfirmed}}</div>
        </div>
        <div class="data-blocks">
            <div class="data-blocks-title">TotalConfirmed</div>
            <div class="data-blocks-value">{{globalData.TotalConfirmed}}</div>
        </div>
        <div class="data-blocks">
            <div class="data-blocks-title">NewDeaths</div>
            <div class="data-blocks-value">{{globalData.NewDeaths}}</div>
        </div>
        <div class="data-blocks">
            <div class="data-blocks-title">TotalDeaths</div>
            <div class="data-blocks-value">{{globalData.TotalDeaths}}</div>
        </div>
        <div class="data-blocks">
            <div class="data-blocks-title">NewRecovered</div>
            <div class="data-blocks-value">{{globalData.NewRecovered}}</div>
        </div>
        <div class="data-blocks">
            <div class="data-blocks-title">TotalRecovered</div>
            <div class="data-blocks-value">{{globalData.TotalRecovered}}</div>
        </div>
    </div>
</div>